---
import { getAllPostsForSlug } from "lib/ghost";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import { CONSTANT } from "lib/constant";

export async function getStaticPaths(params: any) {
  const { paginate } = params;
  const posts = await getAllPostsForSlug();

  return paginate(posts, { pageSize: CONSTANT.pageSize });
}

const { page } = Astro.props;
---

<Layout title={`文章 | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main>
    <ul>
      {
        // @ts-ignore
        page?.data?.map(data => (
          <Card href={`/posts/${data.slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <!-- <Footer noMarginTop={totalPages > 1} /> -->
</Layout>
