---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";

import { getAllPostsForSlug } from "../lib/ghost";

const posts = await getAllPostsForSlug();
const searchList = posts.map(data => ({
  title: data.title,
  description: data.excerpt,
  data,
  slug: data.slug,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main>
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
